### Business Requirements - ETL
#### 1. Functional Requirements - Load Credit Card Database


#### Req-1.1
Data Extraction and Transformation with Python and 
PySpark

For “Credit Card System,” create a Python and PySpark SQL program to read/extract the following JSON files according to the specifications found in the mapping document.
 
1. CDW_SAPP_BRANCH.JSON
2. CDW_SAPP_CREDITCARD.JSON
3. CDW_SAPP_CUSTOMER.JSON

In [191]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("Capstone").getOrCreate()

#### READ TABLES AND TRANSFORM

In [11]:
# branch = spark.read.json("./data/cdw_sapp_branch.json")
branch = spark.read.load("./data/cdw_sapp_branch.json", format = 'json')
branch.printSchema()
branch.show()
# type(branch)
branch.createTempView("branch")

root
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

In [12]:
branch.na.fill({'BRANCH_ZIP':00000}).show()

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import concat,lit,col,substring,to_timestamp

In [14]:
tr_branch = branch.select(col("BRANCH_CITY") \
          ,col("BRANCH_CODE")\
          ,col("BRANCH_NAME") \
          ,(concat( lit("(") ,substring(col("BRANCH_PHONE"),1,3),lit(")") ,substring(col("BRANCH_PHONE"),4,3), lit("-") ,substring(col("BRANCH_PHONE"),7,4) )).alias("BRANCH_PHONE") \
          ,col("BRANCH_STATE") \
          ,col("BRANCH_STREET")\
          ,col("BRANCH_ZIP") \
          ,to_timestamp(concat(substring(col("LAST_UPDATED"),1,10),lit(" "),substring(col("LAST_UPDATED"),12,20))).alias("LAST_UPDATED") \
          )
# tr_branch = spark.sql("SELECT BRANCH_CITY \
#           ,BRANCH_CODE \
#           ,BRANCH_NAME \ 
#           ,concat('(' ,substr(BRANCH_PHONE,1,3), ')' ,substr(BRANCH_PHONE,4,3), '-' ,substr(BRANCH_PHONE,7,4)) as BRANCH_PHONE \
#           ,BRANCH_STATE \
#           ,BRANCH_STREET\
#           ,BRANCH_ZIP \
#           ,LAST_UPDATED \
#           from branch")

tr_branch.show()

+-----------------+-----------+------------+-------------+------------+-------------------+----------+-------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME| BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|       LAST_UPDATED|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+-------------------+
|        Lakeville|          1|Example Bank|(123)456-5276|          MN|       Bridle Court|     55044|2018-04-18 15:51:47|
|          Huntley|          2|Example Bank|(123)461-8993|          IL|  Washington Street|     60142|2018-04-18 15:51:47|
|SouthRichmondHill|          3|Example Bank|(123)498-5926|          NY|      Warren Street|     11419|2018-04-18 15:51:47|
|       Middleburg|          4|Example Bank|(123)466-3064|          FL|   Cleveland Street|     32068|2018-04-18 15:51:47|
|    KingOfPrussia|          5|Example Bank|(123)484-9701|          PA|        14th Street|     19406|2018-04-18 15:51:47|
|         Paterson|          7|Example Bank|(123)414-4890|          NJ|   Jefferson Street|      7501|2018-04-18 15:51:47|
|        Pittsford|          8|Example Bank|(123)467-8272|          NY|           B Street|     14534|2018-04-18 15:51:47|
|     Wethersfield|          9|Example Bank|(123)467-5219|          CT|    Jefferson Court|      6109|2018-04-18 15:51:47|
|     NorthOlmsted|         10|Example Bank|(123)414-5047|          OH|     Cambridge Road|     44070|2018-04-18 15:51:47|
|     Hillsborough|         11|Example Bank|(123)436-6354|          NJ|    3rd Street West|      8844|2018-04-18 15:51:47|
|   MadisonHeights|         12|Example Bank|(123)486-7175|          MI|          Mill Road|     48071|2018-04-18 15:51:47|
|           Oviedo|         14|Example Bank|(123)493-8460|          FL|  Washington Street|     32765|2018-04-18 15:51:47|
|    Mechanicsburg|         15|Example Bank|(123)446-2043|          PA|    Chestnut Street|     17050|2018-04-18 15:51:47|
|        Plainview|         16|Example Bank|(123)485-7525|          NY|       Monroe Drive|     11803|2018-04-18 15:51:47|
|          Paducah|         17|Example Bank|(123)454-6360|          KY|    Railroad Street|     42001|2018-04-18 15:51:47|
|     Harleysville|         18|Example Bank|(123)482-4455|          PA|Church Street South|     19438|2018-04-18 15:51:47|
|     SilverSpring|         19|Example Bank|(123)448-4380|          MD|        King Street|     20901|2018-04-18 15:51:47|
|       Burnsville|         20|Example Bank|(123)484-0138|          MN|   Canterbury Drive|     55337|2018-04-18 15:51:47|
|           Tacoma|         21|Example Bank|(123)436-2433|          WA|         2nd Avenue|     98444|2018-04-18 15:51:47|
|         Carlisle|         22|Example Bank|(123)492-2492|          PA| Front Street South|     17013|2018-04-18 15:51:47|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+-------------------+
only showing top 20 rows

In [5]:
credit = spark.read.load("./data/cdw_sapp_credit.json", format = 'json')
credit.printSchema()
# credit.show()
credit.createTempView("credit")
spark.sql("SELECT * from credit").show()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 20 rows

In [227]:
# tr_credit =  credit.select(col("BRANCH_CODE") \
#           ,col("CREDIT_CARD_NO")\
#           ,col("CUST_SSN") \
#           ,concat( lit("(") ,substring(col("BRANCH_PHONE"),1,3),lit(")") ,substring(col("BRANCH_PHONE"),4,3), lit("-") ,substring(col("BRANCH_PHONE"),7,4) )  \
#           ,col("BRANCH_STATE") \
#           ,col("BRANCH_STREET")\
#           ,col("BRANCH_ZIP") \
#           ,col("LAST_UPDATED") \
#           )
# tr_branch.show()
tr_credit = spark.sql("SELECT BRANCH_CODE\
                    , CREDIT_CARD_NO as CUST_CC_NO\
                    , CUST_SSN \
                    , CASE WHEN MONTH<10 and DAY<10 THEN concat(YEAR,'0',MONTH,'0',DAY) \
                      WHEN MONTH<10 THEN concat(YEAR,'0',MONTH,DAY)\
                      WHEN DAY<10 THEN concat(YEAR,MONTH,'0',DAY) \
                      ELSE concat(YEAR,MONTH,DAY) END as TIMEID \
                    ,TRANSACTION_ID\
                    ,TRANSACTION_TYPE\
                    ,TRANSACTION_VALUE\
                    from credit")
tr_credit.show()
tr_credit.createTempView("tr_credit")

+-----------+----------------+---------+--------+--------------+----------------+-----------------+
|BRANCH_CODE|      CUST_CC_NO| CUST_SSN|  TIMEID|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|
+-----------+----------------+---------+--------+--------------+----------------+-----------------+
|        114|4210653349028689|123459988|20180214|             1|       Education|             78.9|
|         35|4210653349028689|123459988|20180320|             2|   Entertainment|            14.24|
|        160|4210653349028689|123459988|20180708|             3|         Grocery|             56.7|
|        114|4210653349028689|123459988|20180419|             4|   Entertainment|            59.73|
|         93|4210653349028689|123459988|20181010|             5|             Gas|             3.59|
|        164|4210653349028689|123459988|20180528|             6|       Education|             6.89|
|        119|4210653349028689|123459988|20180519|             7|   Entertainment|            43.39|
|         23|4210653349028689|123459988|20180808|             8|             Gas|            95.39|
|        166|4210653349028689|123459988|20180318|             9|   Entertainment|            93.26|
|         83|4210653349028689|123459988|20180903|            10|           Bills|           100.38|
|         52|4210653349028689|123459988|20180821|            11|             Gas|            98.75|
|         17|4210653349028689|123459988|20181224|            12|             Gas|            42.71|
|         80|4210653349028689|123459988|20180403|            13|         Grocery|            40.24|
|         50|4210653349028689|123459988|20180415|            14|           Bills|            17.81|
|        123|4210653349028689|123459988|20180517|            15|           Bills|             29.0|
|          9|4210653349028689|123459988|20180706|            16|            Test|            70.63|
|          3|4210653349028689|123459988|20180928|            17|            Test|            27.04|
|        135|4210653349028689|123459988|20180704|            18|   Entertainment|            88.75|
|        103|4210653349028689|123459988|20180424|            19|            Test|            77.02|
|         78|4210653349028689|123459988|20181008|            20|           Bills|            34.34|
+-----------+----------------+---------+--------+--------------+----------------+-----------------+
only showing top 20 rows

In [7]:
customer = spark.read.load("./data/cdw_sapp_customer.json", format = 'json')
customer.printSchema()
# customer.show()
customer.createTempView("customer")

root
 |-- APT_NO: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: long (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- STREET_NAME: string (nullable = true)

In [8]:
tr_customer = spark.sql("SELECT SSN\
                ,CREDIT_CARD_NO\
                ,CUST_CITY\
                ,CUST_STATE\
                ,CUST_COUNTRY\
                ,CUST_EMAIL\
                ,CUST_ZIP\
                ,concat( substr(CUST_PHONE,1,3) , '-', substr(CUST_PHONE,4,4)) as CUST_PHONE \
                ,concat(STREET_NAME, ',' ,APT_NO) as FULL_STREET_ADDRESS \
                ,concat(UPPER(substr(FIRST_NAME,1,1)),LOWER(substr(FIRST_NAME,2))) as FIRST_NAME\
                ,concat(UPPER(substr(MIDDLE_NAME,1,1)),LOWER(substr(MIDDLE_NAME,2))) as MIDDLE_NAME\
                ,concat(UPPER(substr(LAST_NAME,1,1)),LOWER(substr(LAST_NAME,2))) as LAST_NAME\
                ,timestamp(concat(substr(LAST_UPDATED,1,10),' ',substr(LAST_UPDATED,12))) as LAST_UPDATED\
                from customer")
tr_customer.show()

+---------+----------------+------------+----------+-------------+--------------------+--------+----------+--------------------+----------+-----------+---------+-------------------+
|      SSN|  CREDIT_CARD_NO|   CUST_CITY|CUST_STATE| CUST_COUNTRY|          CUST_EMAIL|CUST_ZIP|CUST_PHONE| FULL_STREET_ADDRESS|FIRST_NAME|MIDDLE_NAME|LAST_NAME|       LAST_UPDATED|
+---------+----------------+------------+----------+-------------+--------------------+--------+----------+--------------------+----------+-----------+---------+-------------------+
|123456100|4210653310061055|     Natchez|        MS|United States| AHooper@example.com|   39120|  123-7818|Main Street North...|      Alec|         Wm|   Hooper|2018-04-21 11:49:02|
|123453023|4210653310102868|Wethersfield|        CT|United States| EHolman@example.com|   06109|  123-8933|   Redwood Drive,829|      Etta|    Brendan|   Holman|2018-04-21 11:49:02|
|123454487|4210653310116272|     Huntley|        IL|United States| WDunham@example.com|   60142|  124-3018|12th Street East,683|    Wilber|   Ezequiel|   Dunham|2018-04-21 11:49:02|
|123459758|4210653310195948|   NewBerlin|        WI|United States|  EHardy@example.com|   53151|  124-3215|Country Club Road...|   Eugenio|      Trina|    Hardy|2018-04-21 11:49:02|
|123454431|4210653310356919|      ElPaso|        TX|United States|  WAyers@example.com|   79930|  124-2074|  Madison Street,301|   Wilfred|        May|    Ayers|2018-04-21 11:49:02|
|123454202|4210653310395982|NorthOlmsted|        OH|United States|BWoodard@example.com|   44070|  124-2570|    Colonial Drive,3|      Beau|    Ambrose|  Woodard|2018-04-21 11:49:02|
|123451799|4210653310400536|      Vienna|        VA|United States|   SKemp@example.com|   22180|  123-9685|   Belmont Avenue,84|    Sheila|      Larry|     Kemp|2018-04-21 11:49:02|
|123453875|4210653310459911|      Duarte|        CA|United States| WHurley@example.com|   91010|  123-8213|    Oxford Court,728|     Wendy|        Ora|   Hurley|2018-04-21 11:49:02|
|123457511|4210653310773972|      Owosso|        MI|United States|AGilmore@example.com|   48867|  124-0689|    Forest Street,81|      Alec|     Tracie|  Gilmore|2018-04-21 11:49:02|
|123457464|4210653310794854|        Zion|        IL|United States|    BLau@example.com|   60099|  123-5222|    Court Street,561|    Barbra|    Mitchel|      Lau|2018-04-21 11:49:02|
|123457639|4210653310817373|  Youngstown|        OH|United States|EThomson@example.com|   44512|  124-1363|   Cypress Court,622|   Edmundo|      Denny|  Thomson|2018-04-21 11:49:02|
|123453242|4210653310844617| Summerville|        SC|United States| ETruong@example.com|   29483|  123-6228| 8th Street West,924|      Elsa|   Isabelle|   Truong|2018-04-21 11:49:02|
|123454339|4210653311015303|      ElPaso|        TX|United States|HMckinney@example...|   79930|  123-8165|     East Avenue,611|     Homer|      Henry| Mckinney|2018-04-21 11:49:02|
|123454537|4210653311215039|      Fenton|        MI|United States|   RKidd@example.com|   48430|  123-4730|        Route 44,680|      Rita|     Rickey|     Kidd|2018-04-21 11:49:02|
|123452373|4210653311229354|  Grandville|        MI|United States|ABallard@example.com|   49418|  124-2113|    Warren Street,71|    Amalia|  Heriberto|  Ballard|2018-04-21 11:49:02|
|123455343|4210653311652836|    YubaCity|        CA|United States| PThomas@example.com|   95993|  123-9888|    Jones Street,195|     Patty|   Angelita|   Thomas|2018-04-21 11:49:02|
|123451533|4210653311707126|   CapeCoral|        FL|United States| JMorrow@example.com|   33904|  124-0158|      New Street,500|  Josefina|   Dorothea|   Morrow|2018-04-21 11:49:02|
|123459278|4210653311730764|  Brookfield|        WI|United States|NAndrews@example.com|   53045|  124-1408| Division Street,989|    Nelson|  Jefferson|  Andrews|2018-04-21 11:49:02|
|123456915|4210653311898082|    Richmond|        VA|United States|MSchneider@exampl...|   23223|  123-8390|    Maple Street,810|    Miquel|     Maximo|Schneider|2018-04-21 11:49:02|
|123453807|4210653312021765| WestChester|        PA|United States|PTidwell@example.com|   19380|  123-5067|      Eagle Road,649|    Parker|    Arnulfo|  Tidwell|2018-04-21 11:49:02|
+---------+----------------+------------+----------+-------------+--------------------+--------+----------+--------------------+----------+-----------+---------+-------------------+
only showing top 20 rows

####  Req-1.2 Data loading into Database

In [118]:
tr_customer.write.format("jdbc") \
          .mode("append") \
          .options(driver="com.mysql.cj.jdbc.Driver",\
                user="root",\
                password="root",\
                url="jdbc:mysql://localhost:3306/creditcard_capstone",\
                dbtable="creditcard_capstone.CDW_SAPP_CUSTOMER").save()

In [144]:
tr_branch.write.format("jdbc") \
          .mode("append") \
          .options(driver="com.mysql.cj.jdbc.Driver",\
                user="root",\
                password="root",\
                url="jdbc:mysql://localhost:3306/creditcard_capstone",\
                dbtable="creditcard_capstone.CDW_SAPP_BRANCH").save()

In [145]:
tr_credit.write.format("jdbc") \
          .mode("append") \
          .options(driver="com.mysql.cj.jdbc.Driver",\
                user="root",\
                password="root",\
                url="jdbc:mysql://localhost:3306/creditcard_capstone",\
                dbtable="creditcard_capstone.CDW_SAPP_CREDIT").save()

### 2. Functional Requirements - Application Front-End

#### Req-2.1 Transaction Details Module

1)    Used to display the transactions made by customers living in a given zip code for a given month and year. Order by day in descending order.

In [226]:
zipcode = input("input 5 digit zipcode : ")   #60060 30024  
year = input("input year :")      #2018
month = input("input month :")    #5
result = spark.sql("SELECT b.SSN\
                ,b.CUST_ZIP\
                ,b.FIRST_NAME\
                ,b.LAST_NAME\
                ,a.*\
                 from credit a left join customer b on a.cust_ssn = b.ssn\
                 where b.cust_zip = {} and a.year = {}  and a.month = {}\
                 order by a.day desc".format(zipcode,year,month))
result.show()

input 5 digit zipcode : 60060
input year :2018
input month :5
+---------+--------+----------+----------+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|      SSN|CUST_ZIP|FIRST_NAME| LAST_NAME|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+---------+--------+----------+----------+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|123456182|   60060|      Lois|     Welch|         59|4210653353821687|123456182| 28|    5|         20096|       Education|            63.22|2018|
|123451180|   60060|     Leona|     Combs|         91|4210653380740678|123451180| 28|    5|         45445|         Grocery|            57.98|2018|
|123456941|   60060|     Edwin|     Wells|         45|4210653352401004|123456941| 24|    5|         16263|            Test|            26.55|2018|
|123456941|   60060|     Edwin|     Wells|         58|4210653352401004|123456941| 24|    5|         16236|             Gas|            62.95|2018|
|123453756|   60060|      Mose|     Hatch|        170|4210653364240213|123453756| 23|    5|         32663|             Gas|            89.93|2018|
|123454864|   60060|   Wilfred|   Kaufman|         52|4210653345466468|123454864| 22|    5|         26977|       Education|            31.97|2018|
|123454373|   60060|    Aurora|     Kline|         56|4210653379545814|123454373| 17|    5|         29514|             Gas|            46.82|2018|
|123454864|   60060|   Wilfred|   Kaufman|        158|4210653345466468|123454864| 17|    5|         26966|       Education|            57.09|2018|
|123456941|   60060|     Edwin|     Wells|        119|4210653352401004|123456941| 14|    5|         16240|             Gas|            51.36|2018|
|123456941|   60060|     Edwin|     Wells|         78|4210653352401004|123456941| 14|    5|         16270|         Grocery|            89.23|2018|
|123454864|   60060|   Wilfred|   Kaufman|        123|4210653345466468|123454864| 13|    5|         26906|         Grocery|            56.85|2018|
|123454864|   60060|   Wilfred|   Kaufman|         70|4210653345466468|123454864| 12|    5|         26945|            Test|             79.7|2018|
|123454373|   60060|    Aurora|     Kline|         90|4210653379545814|123454373| 11|    5|         29533|             Gas|            77.65|2018|
|123456941|   60060|     Edwin|     Wells|         40|4210653352401004|123456941| 11|    5|         16225|       Education|            97.15|2018|
|123456182|   60060|      Lois|     Welch|         21|4210653353821687|123456182|  8|    5|         20099|         Grocery|            51.92|2018|
|123454864|   60060|   Wilfred|   Kaufman|         25|4210653345466468|123454864|  7|    5|         26934|         Grocery|             3.55|2018|
|123454373|   60060|    Aurora|     Kline|        119|4210653379545814|123454373|  7|    5|         29526|             Gas|            53.95|2018|
|123454864|   60060|   Wilfred|   Kaufman|        118|4210653345466468|123454864|  6|    5|         26968|           Bills|            10.26|2018|
|123456866|   60060|     Kitty|Hutchinson|        170|4210653330692448|123456866|  6|    5|         16515|         Grocery|            10.69|2018|
|123453476|   60060|     Micah|    Snyder|         12|4210653390771787|123453476|  5|    5|         34677|           Bills|            29.28|2018|
+---------+--------+----------+----------+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 20 rows

2)    Used to display the number and total values of transactions for a given type.

In [18]:
#display transaction types
spark.sql("select distinct(transaction_type) \
            from credit").show()
#display user input
trans_type = input("Insert a type of transaction \n :" )

given_type_val= spark.sql("select count(transaction_type) as number \
                        ,round(sum(TRANSACTION_VALUE),2) as total_value from credit where transaction_type = '{}'".format(trans_type))
given_type_val.show()

+----------------+
|transaction_type|
+----------------+
|       Education|
|   Entertainment|
|      Healthcare|
|         Grocery|
|            Test|
|             Gas|
|           Bills|
+----------------+

Insert a type of transaction
 :Entertainment
+------+-----------+
|number|total_value|
+------+-----------+
|  6635|   338950.1|
+------+-----------+

3)    Used to display the number and total values of transactions for branches in a given state.

In [25]:
#display states
spark.sql("select distinct(cust_state) from customer \
            ").show()
#display user input
states_selected = input("Input a selected state \n :" )
given_state_val = spark.sql("select b.branch_code as branch_code \
                            , count(b.transaction_id) as trans_number \
                            , round(sum(transaction_value),2) as total_value \
                            from customer a left join credit b on a.SSN = b.CUST_SSN \
                            where a.cust_state = '{}'\
                            group by b.branch_code\
                            order by b.branch_code".format(states_selected))
given_state_val.show()

+----------+
|cust_state|
+----------+
|        SC|
|        MN|
|        NJ|
|        VA|
|        KY|
|        MI|
|        WI|
|        CA|
|        CT|
|        MT|
|        NC|
|        MD|
|        IL|
|        WA|
|        MS|
|        AL|
|        IN|
|        OH|
|        IA|
|        PA|
+----------+
only showing top 20 rows

Input a selected state
 :MN
+-----------+------------+-----------+
|branch_code|trans_number|total_value|
+-----------+------------+-----------+
|          1|          10|     501.56|
|          2|           8|     376.64|
|          3|          10|     528.31|
|          4|          13|      738.9|
|          5|          10|     579.36|
|          7|          11|     612.85|
|          8|          17|     930.15|
|          9|           9|     417.51|
|         10|          11|     496.75|
|         11|           8|     347.21|
|         12|           9|     597.29|
|         14|           5|     352.39|
|         15|          10|     365.34|
|         16|          13|     601.15|
|         17|          14|     644.24|
|         18|          13|     824.56|
|         19|           8|     487.82|
|         20|          12|     649.73|
|         21|           8|     280.77|
|         22|          18|     843.65|
+-----------+------------+-----------+
only showing top 20 rows

#### Req-2.2 Customer Details

1) Used to check the existing account details of a customer.

In [ ]:
# 123456100 
# Alec Hooper

In [185]:
#input customer firstname, lastname,customer phone#
cust_fname = input("input customer's first name : ")
cust_lname = input("input customer's last name : ")
cust_ssn = input("input customer's SSN : ")
result = spark.sql("select * from customer \
            where first_name = '{}' and \
                  last_name = '{}' and \
                   SSN = {} \
                 ".format(cust_fname, cust_lname,cust_ssn))

input customer's first name : Alec
input customer's last name : Hooper
input customer's SSN : 123456100

In [186]:
if result.count() == 0 :
    print("There is no account records of the customer, {} {}".format(cust_fname, cust_lname))
else :
    result.show()

+------+----------------+---------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|APT_NO|  CREDIT_CARD_NO|CUST_CITY| CUST_COUNTRY|         CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|
+------+----------------+---------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|   656|4210653310061055|  Natchez|United States|AHooper@example.com|   1237818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|
+------+----------------+---------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+

In [52]:
print(customer.columns)
col = input("select columns to modify distinguished by commas : ex.CUST_EMAIL, CUST_PHONE, LAST_NAME ")

['APT_NO', 'CREDIT_CARD_NO', 'CUST_CITY', 'CUST_COUNTRY', 'CUST_EMAIL', 'CUST_PHONE', 'CUST_STATE', 'CUST_ZIP', 'FIRST_NAME', 'LAST_NAME', 'LAST_UPDATED', 'MIDDLE_NAME', 'SSN', 'STREET_NAME']
select columns to modify distinguished by commas : ex.CUST_EMAIL, CUST_PHONE, LAST_NAME CUST_EMAIL, CUST_PHONE, LAST_NAME

In [62]:
col_list = list(map(lambda x : x.strip(), col.split(',') ))
col_list

In [85]:
key_value = {}
for column in col_list:
    key_value[column] = input("Insert {} values to update: ".format(column))

Insert CUST_EMAIL values to update: lsunnyl89@gmail.com
Insert CUST_PHONE values to update: 1234567
Insert LAST_NAME values to update: Lee

In [130]:
# update_condition = ''
# for key in key_value:
#     update_condition += " {} = '{}',".format(key, key_value[key])
# update_condition = update_condition[:-1]
# spark.sql("UPDATE CUSTOMER \
#            SET {} \
#            WHERE SSN = '{}'".format(update_condition, cust_ssn))
# update statement is not working

# import pyspark.sql.functions as F

# data = [key_value]
# print(data)
# df_data = spark.createDataFrame(data)
# print(df_data.count())

# for column in col_list:
#     print(result[column])
#     print(type(key_value[column]))
#     result.withColumn(result[column], key_value[column]).show()

# customer = spark.sql("    \
            
#                     ")


# df1.join(df2, df1.id == df2.id, "left_outer") \
#    .select(df1.id, df2.id, F.when(df2.value.isNull(), df1.value).otherwise(df2.value).alias("value")))

In [171]:
print(type(key_value))
print(type(str(key_value.items())))
print(type(result["CUST_EMAIL"]))
key_value["CUST_EMAIL"]

<class 'dict'>
<class 'str'>
<class 'pyspark.sql.column.Column'>

'lsunnyl89@gmail.com'

In [187]:
#     ls = [{item:key_value[item]}]
#     print(ls)
#     df = spark.createDataFrame(ls)
#     print(df)
#    result[item] = key_value[item]  dataframe does not support item assignment

for item in key_value :
    print(item)
    value = key_value[item]
    print(value)
    result = result.withColumn(item, lit(value))
    

# print(result)
# df3 = df.withColumn("gender", when(df.gender == "M","Male") \
#       .when(df.gender == "F","Female") \

CUST_EMAIL
lsunnyl89@gmail.com
CUST_PHONE
1234567
LAST_NAME
Lee

In [189]:
result.show()

+------+----------------+---------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|APT_NO|  CREDIT_CARD_NO|CUST_CITY| CUST_COUNTRY|         CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|
+------+----------------+---------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|   656|4210653310061055|  Natchez|United States|lsunnyl89@gmail.com|   1234567|        MS|   39120|      Alec|      Lee|2018-04-21T12:49:...|         Wm|123456100|Main Street North|
+------+----------------+---------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+

3) Used to generate a monthly bill for a credit card number for a given month and year.

In [219]:
cc_number = input("Input a credit card number : ")
# 4210653311215039
spark.sql("select * from credit \
           where CREDIT_CARD_NO = '{}' \
           ".format(cc_number)
           ).show(5)
c_year = input("input a year for a monthly bill : ")

spark.sql("select * from credit \
           where CREDIT_CARD_NO = '{}' \
           and year = '{}' \
           order by day ".format(cc_number, c_year)
           ).show(5)

c_month = input("input a month for a monthly bill : ")


total = spark.sql("select round(sum(TRANSACTION_VALUE),2) as total_amount from credit \
           where CREDIT_CARD_NO = '{}' \
           and year = '{}' \
           and month = '{}' \
           ".format(cc_number, c_year, c_month)
           )
total_amount = total.collect()[0][0]
print( " Monthly bill of {} - {} : ${}".format(c_year , c_month, total_amount))

spark.sql("select * from credit \
           where CREDIT_CARD_NO = '{}' \
           and year = '{}' \
           and month = '{}' \
           order by day ".format(cc_number, c_year, c_month)
           ).show()

Input a credit card number : 4210653311215039
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|         45|4210653311215039|123454537|  6|    6|         28169|           Bills|            17.61|2018|
|         99|4210653311215039|123454537| 15|   11|         28170|         Grocery|             8.08|2018|
|        170|4210653311215039|123454537| 24|    6|         28171|             Gas|            52.39|2018|
|         90|4210653311215039|123454537| 28|   12|         28172|           Bills|            72.27|2018|
|         58|4210653311215039|123454537| 27|   12|         28173|   Entertainment|            43.16|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 5 rows

input a year for a monthly bill : 2018
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|         30|4210653311215039|123454537|  1|    6|         28178|            Test|            65.76|2018|
|         31|4210653311215039|123454537|  1|    9|         28217|           Bills|            57.19|2018|
|        166|4210653311215039|123454537|  1|   11|         28219|             Gas|            93.11|2018|
|         11|4210653311215039|123454537|  1|    2|         28214|           Bills|             1.54|2018|
|          9|4210653311215039|123454537|  2|   12|         28192|         Grocery|             6.43|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 5 rows

input a month for a monthly bill : 2
 Monthly bill of 2018 - 2 : $62.31
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|         11|4210653311215039|123454537|  1|    2|         28214|           Bills|             1.54|2018|
|        145|4210653311215039|123454537| 24|    2|         28175|         Grocery|            60.77|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+

### 4) Used to display the transactions made by a customer between two dates. Order by year, month, and day in descending order.

In [234]:
start_day  = input("date of the start day : ") #20180101
end_day = input("date of the last day : ") #20181231
cust_ssn = input("customer's ssn : ") #123456629

spark.sql("select * from tr_credit \
          where TIMEID between '{}' and '{}' \
          and cust_ssn = {} \
          order by timeid desc".format(start_day,end_day,cust_ssn) ).show()

date of the start day : 20180101
date of the last day : 20181231
customer's ssn : 123456629
+-----------+----------------+---------+--------+--------------+----------------+-----------------+
|BRANCH_CODE|      CUST_CC_NO| CUST_SSN|  TIMEID|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|
+-----------+----------------+---------+--------+--------------+----------------+-----------------+
|         66|4210653368689760|123456629|20181228|         17930|       Education|            95.65|
|        173|4210653368689760|123456629|20181227|         17864|           Bills|            12.69|
|         22|4210653368689760|123456629|20181227|         17861|             Gas|            55.27|
|          5|4210653368689760|123456629|20181220|         17879|            Test|            20.91|
|        160|4210653368689760|123456629|20181213|         17842|            Test|             2.31|
|         52|4210653368689760|123456629|20181212|         17870|       Education|            22.45|
|         10|4210653368689760|123456629|20181211|         17867|      Healthcare|            66.14|
|         50|4210653368689760|123456629|20181208|         17850|            Test|            53.02|
|          9|4210653368689760|123456629|20181206|         17887|      Healthcare|            29.57|
|         47|4210653368689760|123456629|20181125|         17904|         Grocery|            66.45|
|         29|4210653368689760|123456629|20181123|         17907|   Entertainment|            65.18|
|        175|4210653368689760|123456629|20181116|         17912|             Gas|             1.43|
|          7|4210653368689760|123456629|20181107|         17855|       Education|            46.44|
|         10|4210653368689760|123456629|20181102|         17894|         Grocery|             4.41|
|          9|4210653368689760|123456629|20181101|         17852|            Test|            28.52|
|         42|4210653368689760|123456629|20181026|         17862|            Test|            69.21|
|        158|4210653368689760|123456629|20181025|         17900|             Gas|            66.56|
|        158|4210653368689760|123456629|20181022|         17917|         Grocery|            93.92|
|        103|4210653368689760|123456629|20181014|         17857|            Test|            29.01|
|         29|4210653368689760|123456629|20181011|         17866|      Healthcare|            78.65|
+-----------+----------------+---------+--------+--------------+----------------+-----------------+
only showing top 20 rows

## 3 - Functional Requirements - Data analysis and Visualization